body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#nav{
    display: flex;
    justify-content: space-between;
    h2{

    }
    ul{
        display: flex;
        gap: 20px;
    }
    li{
list-style: none;

    }
    a{
        
text-decoration: none;
color: black;

    }
    button{
border-radius: 0;
color: white;
background-color: black;
padding: 10px 20px;
    }
}

#header {

    background-color: rgb(74, 75, 76);
    padding: 100px;
    .hero-container{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);    
        h1{

        }
    }
    p{

    }
    .button1{
border-radius: 0;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
padding: 10px 20px;
border-style: solid;
border-color: rgb(255, 255, 255);
    }
    .button2{
border-radius: 0;
color: white;
background-color: rgba(0, 0, 0, 0);
padding: 10px 20px;
border-width: 2px;
border-style: solid;
border-color: rgb(255, 255, 255);
    }
}