body {
    font-family: 'ClashDisplay-Variable';
    /* font-variation-settings: wght 700.0; */
    margin: 0;
}

#nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    h2 {font-weight: 500;}

    ul {
        display: flex;
        gap: 20px;
    }

    li {
        list-style: none;

    }

    a {

        text-decoration: none;
        color: black;

    }

    button {
        border-radius: 0;
        color: white;
        background-color: black;
        padding: 10px 20px;
        font-weight: 500;
        
    }
}

#header {

    background-color: rgb(74, 75, 76);
    padding: 100px;

    .hero-container {
        max-width: 600px;
        margin: auto;
        text-align: center;
        color: rgb(255, 255, 255);

        h1 {font-weight: 700;
        font-size: 60px;}
    }

    p {font-weight: 400;}

    .button1 {
        border-radius: 0;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        margin: auto 10px;
    }

    .button2 {
        border-radius: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        padding: 10px 20px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        margin: auto 10px;
    }
}

#Avantages {
margin: 100px auto;
    .container {
        max-width: 1050px;
        margin: auto;
        text-align: center;
    }

    span {font-weight: 300;
        font-size: 20px;}

    h2 {font-weight: 600;
        font-size: 35px;}

    p {font-weight: 300;
        font-size: 18px;}

    .avantdiv_conainer {
        display: flex;
        justify-content: space-between;

    }

    .avantage-container {
        border-width: 2px;
        border: dashed;
        padding: 12px;
        max-width: 300px;

    }
}

#Produits {
    .container {
        max-width: 1100px;
        margin: auto;
    }

    .prodcard_container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 300px;
        background-color: rgb(223, 223, 223);
        padding: 10px;
        color: rgb(2, 71, 8);
        align-items: center;

        /* border-radius: 5px; */
        transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(203, 203, 203),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .card:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(18, 137, 28);

        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(140, 176, 147),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        padding: 11px;
        }

    img {
        /* border-radius: 10px; */
        max-width: 300px;
    }

    h3 {}

    p {}
}

