:root{
    --primary: greenyellow;
    --secondary:white;
    --tentinary:black;
    --primary2: rgb(202, 255, 123);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(45, 45, 45);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
body {
    font-family: 'ClashDisplay-Variable';
    /* font-variation-settings: wght 700.0; */
    margin: 0;
}

#nav {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    h2 {font-weight: 500;}
    background-color: var(--tentinary);

    ul {
        display: flex;
        gap: 20px;
    }

    li {
        list-style: none;

    }
    li:hover {
        transform: skew(10deg);

    }

    a {

        text-decoration: none;
        color: var(--secondary);

    }
    a:hover {
        background-color: var(--primary);
        color: var(--tentinary);
        padding: 36px 0;

    }
    img{
        max-width: 70px;
    }
    button {
        border-radius: 0;
        color: var(--tentinary);
        background-color: var(--secondary);
        padding: 10px 20px;
        font-weight: 500;
        border-style: solid;
        
    }
    button:hover {
        border-radius: 0;
        color: var(--tentinary);
        background-color: var(--primary);
        padding: 10px 20px;
        font-weight: 500;
        border-style: ridge;
        transform: skew(3deg);
        
    }
}

#header {

    background-image: url(MOSHED-2025-12-17-13-46-13.jpg);
   background-size: cover;
    padding: 100px;

    .hero-container {
        max-width: 600px;
        margin: auto;
        text-align: center;
        color: var(--secondary);

        h1 {font-weight: 700;
            color: transparent;
            font-size: 60px;
            -webkit-text-stroke: 1px var(--primary);
            text-shadow: -4px -4px var(--secondary);
            text-transform: uppercase;
        }
    }

    p {font-weight: 400;}

    .button1 {
        border-radius: 0;
        color: var(--tentinary);
        background-color: var(--primary);
        padding: 10px 20px;
        border-style: solid;
        border-color: var(--primary);
        margin: auto 10px;
    }

    .button2 {
        border-radius: 0;
        color: var(--secondary);
        background-color: var(--tentinary);
        padding: 10px 20px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--primary);
        margin: auto 10px;
    }
    .button1:hover {
        border-radius: 0;
        color: var(--tentinary);
        background-color: var(--primary2);
        padding: 10px 20px;
        border-style: solid;
        border-color: var(--primary2);
        margin: auto 10px;
        transform: skew(3deg);
    }

    .button2:hover {
        border-radius: 0;
        color: var(--tentinary);
        background-color: var(--primary2);
        padding: 10px 20px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--primary);
        margin: auto 10px;
        transform: skew(3deg);
    }
    
}

#Avantages {
margin: 100px auto;
    .container {
        max-width: 1050px;
        margin: auto;
        text-align: center;
    }

    span {font-weight: 300;
        font-size: 20px;}

    h2 {font-weight: 600;
        font-size: 35px;}

    p {font-weight: 300;
        font-size: 18px;}

    .avantdiv_conainer {
        display: flex;
        justify-content: space-between;

    }

    .avantage-container {
        border-width: 2px;
        border: solid;
        padding: 12px;
        max-width: 300px;
        background-color: var(--tentinary);
        color: var(--secondary);
        border-color: var(--primary);
        bord

    }
}

#Produits {
    background-color: var(--tentinary);
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
        max-width: 1100px;
        margin: auto;
    }

    .prodcard_container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 300px;
        background-color: var(--primary);
        padding: 10px;
        color: var(--tentinary);
        align-items: center;

        /* border-radius: 5px; */
        transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        box-shadow: inset 0 -3em 3em rgba(200, 255, 0, 0.1),
            0 0 0 2px var(--primary),
            0.3em 0.3em 1em rgba(157, 255, 0, 0.3);
    }
    .card:hover{
        background-color: var(--secondary);
        color: var(--tentinary);

        box-shadow: inset 0 -3em 3em rgba(32, 26, 26, 0.1),
            0 0 0 2px var(--primary),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        padding: 11px;
        }

    img {
        /* border-radius: 10px; */
        max-width: 300px;
    }

    h3 {}

    p {}
}
#Services {
margin: 100px auto;
max-width: 1000px;

h2{
    text-align: center;
    font-size: 40px;
}
.container{
    display: flex;
    justify-content: center;
    
    }
    .servcontainer{
        display: flex;
        justify-content: space-between;
        p{
            
            max-width: 300px;
        }
    }
    .servcard {

    }

}

#Temoignages {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: var(--tentinary);
    color: var(--secondary);
    .container{
display: flex;
justify-content: center;
    }
    h2{

    }
    p{

    }
    .temo-container{
max-width: 300px;
    }
}

/* footer{

}
.left_side_footer{

}
.right_side_footer{

} */
.firstpart{
    display: flex;
    justify-content: space-between;
}
